/* Font Related Codes */
body {
    font-family: "Open Sans", sans-serif;
}
/* Common Related CSS Styles */
.orange{
    color: #FD6E0A;
}

/* Nav Related CSS */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}
.title-name{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-orange{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* sec-1 related CSS */
.sec-1{
    background-color: #FFF8F3;
}
.banner{
    margin: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-pic{
    height: 500px;
    width: 500px;
}
/* .banner-greeting{
    font-size: 50px;
    font-weight: 200;
}
.banner-title{
    font-size: 80px;
    font-weight: 600;
} */