/* Font Related Codes */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* Common Related CSS Styles */
.orange {
    color: #FD6E0A;
}

/* Nav Related CSS */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}

.title-name {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-orange {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 35px;
}

/* sec-1 related CSS */
.sec-1 {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    margin: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
}

.banner-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 0;
    /* text-align: left; */
}

.banner-button {
    margin-right: 15px
}

#banner-contact {
    background-color: white;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
}
.sec-2{
    padding: 120px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 50px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-weight: 200
}
.info-description{
    font-weight: 600;
}
/* skill related CSS styles */
.sec-3{
    text-align: center;
    margin: 100px;
    padding: 120px;
}
#section-3-title{
    margin-bottom: 60px;
}
#section-3-description{
    margin-top: 0px;
    margin-bottom: 100px;
}

.skills-container{
    display: flex;
    gap: 25px;
    margin-top: 0;
}
.skill{
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
    
}
.skill-description{
    color: #757575
}
/* resume related css */
.resume-colum-title{
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    margin: 150px;
    display: flex;
    gap: 50px;
    text-align: left;
}
.resume-item-institute{
    color: #757575;
}
.resume-item-description{
    color: #757575;
}
.download-cv{
    text-align: center;
}